<!DOCTYPE HTML>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
	  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap"
	  rel="stylesheet"
	/>
	<script
	  src="https://kit.fontawesome.com/d9ff775a80.js"
	  crossorigin="anonymous"
	></script>
	<title>Password Change</title>
	<link rel="icon" type="image/png" href="static/images/icon_bag.png">
	<link rel="stylesheet" href={{ url_for('static', filename='css/profile.css')
	}} /> <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.css') }} />
</head>
<body>
	{% include 'navbar.html' %}	


<div class="profileContainer container">
	<div class="sideNav">
		<div>
            <i class="fa-solid fa-user"></i> 
            <a href="/account/profile">Hello, {{firstName}}!</a>
        </div>
		<div>
            <i class="fa-brands fa-shopify"></i>
            <a href="/account/profile/orders"></i> My Orders</a>
        </div>
        <div>
            <i class="fa-regular fa-id-card"></i>
            <a href="/account/profile/edit"> My Details</a>
        </div>
		<div>
            <i class="fa-solid fa-lock"></i>
            <a href="/account/profile/changePassword"> Change password</a>
        </div>
		<div>
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="/logout"> Sign Out</a>
        </div>
	</div>
	<div class="aside">
		<h1>CHANGE PASSWORD</h1>
		<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()" class="changePasswordForm">
			<input type="password" name="oldpassword" class="input" placeholder="Old Password">
			<input type="password" name="newpassword" id="newpassword" class="input" placeholder="New Password">
			<input type="password" name="cpassword" id="cpassword" class="input" placeholder="Confirm Password">
			<input type="submit" value="Save" class="primaryButton">
		</form>
	</div>
</div>
</body>
</html>



